html{
    box-sizing:border-box;
}
*,*:before,*after{
    box-sizing:inherit;
}
body{
    background-image: url(Images/map.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
header{
    background-color:rgba(255, 255, 255, 0.651);
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(238, 181, 134);
    color:black;
    margin: 15px;
}
  section.result{
    
    
    text-align: center;
    background: rgba(253, 114, 0, 0.687);
  }
  section.result img{
    max-width: 100px;
  }

section.list{
    background: rgb(253, 114, 0, 0.687);
    justify-content: center;
    flex-direction: row;
   }
 
.list{
    display: flex;
}
header,
section,
footer{
    width: 60%;
    margin: 15px auto;
    overflow: hidden; 
    padding: 5% 10%;
}
footer{
    text-align: center;
}