#map {
    height: 30rem;
}

#icons {
    border-radius: 5%;
    text-decoration: none;
    padding: .5rem;
    text-decoration: none;

}

#icons:hover {
    background-color: #165eec;
    border-radius: 10%;
    color: black;
}

.headernav p {
    float: right;
    color: #165eec;
}